# RPC Gnosis (optional ; default : https://gnosis.publicnode.com)
# GNOSIS_RPC=https://rpc.gnosis.gateway.fm

# Limit to years (optional ; ex. 2025,2026 for fast testing)
# YEARS=2025,2026
YEARS=2025
